html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #7190b1;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
  background-color: #160846 !important; /* Black background */
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .dropdown-toggle,
.navbar .dropdown-item {
  color: #ffffff !important; /* White text */
}

.navbar .dropdown-menu {
  background-color: #8984b5; /* Optional: dropdown background also black */
}

.navbar .dropdown-item:hover {
  background-color:#736d96; /* Slightly lighter on hover */
  color: #ffffff;
}


.navbar .nav-link:hover,
.navbar .dropdown-toggle:hover {
  color: #9995b8 !important; /* Bright yellow on hover */
  background-color: transparent; /* Optional: no background change */
  transition: color 0.3s ease; /* Smooth transition */
}
